<div class="container">
 <div *ngIf="!checkList">
   <h3  class="text-center mt-5 mb-5">
     Không có sản phẩm nào!!!
   </h3>
   <div>
    <h4 class="mt-5 text-center" style="color: black"> Vui lòng quay lai trang chủ để đặt hàng!</h4>
   </div>
   <div>
     <button routerLink="" class="btn btn-warning mt-2 mb-5">Quay lại trang chủ</button>
   </div>
 </div>

  <table  id="cart" class="table table-hover table-condensed"  *ngIf="checkList">
    <thead>
    <tr>
      <th style="width:40%">Sản phẩm</th>
      <th style="width:10%">Giá</th>
      <th style="width:28%">Số lượng</th>
      <th style="width:15%" class="text-center">Tổng</th>
      <th style="width:7%"></th>
    </tr>
    </thead>
    <tbody *ngFor="let item of cart">
    <tr>
      <td data-th="Product">
        <div class="row">
          <div class="col-sm-3 hidden-xs"><img style="width: 150px;height: 150px"
                                               src="{{item.image}}"
                                               alt="..." class="img-responsive"/></div>
          <div class="col-sm-9">
            <p class="nomargin mx-5 mt-5">{{item.name}}</p>
          </div>
        </div>
      </td>
      <td data-th="Price">{{item.discountMoney|number}}đ</td>
      <td data-th="Quantity">
        <div class="row">
          <div class="col-3">
            <input class="form-control" style=" text-align: center; width: 50px" readonly value="{{item.quantity}}">
          </div>
          <div class="col-3">
            <button class="form-control " style=" text-align: center; width: 50px" (click)="increase(item.id)">+
            </button>
          </div>
          <div class="col-6">
            <button class="form-control" (click)="decrease(item.id)"
                    style="width: 50px ;height: 100%; text-align: center"
                    *ngIf="item.quantity <= 1" disabled>-
            </button>

            <button class="form-control " style="width: 50px;height: 100%; text-align: center" *ngIf="item.quantity > 1"
                    (click)="decrease(item.id)">-
            </button>
          </div>

        </div>


      </td>
      <td data-th="Subtotal" class="text-center">{{item.discountMoney * item.quantity| number}}<u>đ</u></td>
      <td class="actions" data-th="" style="text-align: center">
        <button class="btn btn-dark btn-sm mx-1 " (click)="deleteCart(item.id)">Hủy</button>
      </td>
      <!--      <td *ngFor="let item of cart" class="hidden-xs text-center"><strong> {{item.totalPay|number}}đ</strong></td>-->

    </tr>

    </tbody>
    <tfoot>
    <tr class="visible-xs">
      <!--      <td class="text-center"><strong>Total 1.99</strong></td>-->
    </tr>
    <tr>
      <td><a routerLink="" class="btn btn-warning"><i class="fa fa-angle-left"></i> Quay lại trang chủ</a></td>
      <!--      <td>Tổng số loại sản phẩm: {{totalBottle}}</td>-->
      <td></td>
      <td class="hidden-xs" style="text-align: right">Tổng thanh toán:</td>
      <td class="hidden-xs text-center"><strong> {{totalPay|number}}<u>đ</u></strong></td>
      <!--      <td><a href="#" class="btn btn-danger " style="width: 110px">Mua ngay <i class="fa fa-angle-right"></i></a></td>-->
      <td>
        <button *ngIf=" action" class="btn btn-danger" (click)="payment() ">Mua</button>
        <div id="myPaypal" (click)="paid()"></div>
      </td>
    </tr>


    </tfoot>
  </table>


</div>
