<div class="row" *ngIf="bottles !=null">
  <div class="col-2">

  </div>

  <div class="col-8">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-6">
          <img src="{{bottles.image}}" height="400" width="300" alt="...">
        </div>
        <div class="col-6">
          <div class="card-body" style="border: solid 5px;">
            <h5 class="card-title card-text">{{bottles.name}}</h5>
            <div class="card-text mt-3">Loại: <b>{{bottles.bottleType}}</b></div>
            <div class="card-text">Chất liệu: <b>{{bottles.material}}</b></div>
            <div class="card-text">Giá: <b>{{bottles.price}} vnđ</b></div>
            <div class="card-text">Thể tích: <b>{{bottles.volume}}</b></div>
            <div class="card-text">Mô tả chi tiết: <b>{{bottles.description}}</b></div>
          </div>

          <div class=" row mt-5">
            <button class="btn btn-primary " style="height: 35px; width: 150px;margin-left: 4% " routerLink="/cart">THÊM
              VÀO GIỎ
            </button>
            <button class="btn btn-danger" style="height: 35px; width: 150px; margin-left: 4%"
                    routerLink="">MUA NGAY
            </button>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="col-2">

  </div>
</div>



